openapi: 3.0.0
info:
  description: Management API to query data in Moesif. You can use the management API to export data for custom reports or to build custom dashboards.
  contact:
  - email: support@moesif.com
  - email: support@moesif.com
  termsOfService: https://www.moesif.com/terms
  version: '1'
  title: Management Applications Dashboards API
servers:
- url: https://api.moesif.com/v1
  description: Management API V1
- url: https://api.moesif.com/v1
  description: Management API V1
consumes:
- application/json
- application/json
produces:
- application/json
- application/json
tags:
- name: Dashboards
paths:
  /~/dashboard/{dashId}:
    delete:
      security:
      - managementAPIToken:
        - delete:dashboards
      tags:
      - Dashboards
      operationId: deleteDashboards
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          default: '~'
          type: string
        in: query
        name: app_id
        required: false
      - schema:
          type: string
        in: path
        name: dashId
        required: true
      - schema:
          type: string
        in: query
        name: parent_id
        required: false
      summary: Delete a Dashboard
      responses:
        '200':
          description: success
  /~/dashboard/{id}/copy:
    post:
      security:
      - managementAPIToken:
        - create:dashboards
      tags:
      - Dashboards
      operationId: copyDashboard
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          default: '~'
          type: string
        in: query
        name: app_id
        required: false
      - schema:
          type: string
        in: path
        name: id
        required: true
      - schema:
          type: string
        in: query
        name: to_app_id
        required: false
      summary: Copy Dashboard
      responses:
        '201':
          description: success
  /~/dashboards:
    post:
      security:
      - managementAPIToken:
        - create:dashboards
      tags:
      - Dashboards
      operationId: createDashboard
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          default: '~'
          type: string
        in: query
        name: app_id
        required: false
      summary: Create New Dashboard
      responses:
        '201':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardDocument'
    get:
      security:
      - managementAPIToken:
        - read:dashboards
      tags:
      - Dashboards
      operationId: getDashboards
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          default: '~'
          type: string
        in: query
        name: app_id
        required: false
      summary: Get a Dashboard
      responses:
        '200':
          description: success
  /~/dashboards/copy:
    post:
      security:
      - managementAPIToken:
        - create:dashboards
      tags:
      - Dashboards
      operationId: copyAllDashboards
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          type: string
        in: query
        name: app_id
        required: true
      - schema:
          type: string
        in: query
        name: to_app_id
        required: true
      summary: Copy All Dashboards
      responses:
        '201':
          description: success
  /~/dashboards/{dashId}:
    post:
      security:
      - managementAPIToken:
        - update:dashboards
      tags:
      - Dashboards
      operationId: updateDashboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardUpdateItem'
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          default: '~'
          type: string
        in: query
        name: app_id
        required: false
      - schema:
          type: string
        in: path
        name: dashId
        required: true
      summary: Update a Dashboard
      responses:
        '201':
          description: success
    delete:
      security:
      - managementAPIToken:
        - delete:dashboards
      tags:
      - Dashboards
      operationId: deleteDashboard
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          default: '~'
          type: string
        in: query
        name: app_id
        required: false
      - schema:
          type: string
        in: path
        name: dashId
        required: true
      summary: Delete a Dashboard
      responses:
        '200':
          description: success
  /~/dashboards/{dashId}/cascade:
    delete:
      security:
      - managementAPIToken:
        - delete:dashboards
      tags:
      - Dashboards
      operationId: cascadeDeleteDashboard
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          default: '~'
          type: string
        in: query
        name: app_id
        required: false
      - schema:
          type: string
        in: path
        name: dashId
        required: true
      summary: Casccade delete a Dashboard
      responses:
        '200':
          description: success
  /~/dashboards/{id}/policy/acl:
    post:
      security:
      - managementAPIToken:
        - create:dashboards
      tags:
      - Dashboards
      operationId: addACLPermissions
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          default: '~'
          type: string
        in: query
        name: app_id
        required: false
      - schema:
          type: string
        in: path
        name: id
        required: true
      - schema:
          type: string
        in: query
        name: grantee
        required: false
      - schema:
          default: None
          type: string
        in: query
        name: permission
        required: false
      summary: Add Dashboards ACL permission
      responses:
        '200':
          description: success
    delete:
      security:
      - managementAPIToken:
        - delete:dashboards
      tags:
      - Dashboards
      operationId: deleteACLPermissions
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          default: '~'
          type: string
        in: query
        name: app_id
        required: false
      - schema:
          type: string
        in: path
        name: id
        required: true
      - schema:
          type: string
        in: query
        name: grantee
        required: true
      summary: Delete Dashboards ACL permission
      responses:
        '200':
          description: success
components:
  schemas:
    DashboardUpdateItem:
      properties:
        parent:
          type: string
        name:
          type: string
        dashboard_id:
          type: string
        workspace_ids:
          type: array
          items:
            type: array
            items:
              type: string
        sort_order:
          type: number
          format: double
        dashboard_ids:
          type: array
          items:
            type: string
        policy:
          $ref: '#/components/schemas/PolicyItem'
    DashboardDocument:
      properties:
        parent:
          type: string
        name:
          type: string
        _id:
          type: string
        auth_user_id:
          type: string
        profile_view_promotion:
          type: string
        app_id:
          type: string
        workspace_ids:
          type: array
          items:
            type: array
            items:
              type: string
        sort_order:
          type: number
          format: double
        dashboard_ids:
          type: array
          items:
            type: string
        policy:
          $ref: '#/components/schemas/PolicyItem'
        org_id:
          type: string
        migration:
          type: object
        created:
          type: string
          format: date-time
      required:
      - auth_user_id
      - org_id
      - app_id
      - created
      - name
      - dashboard_ids
      - workspace_ids
    PolicyItem:
      properties:
        acl:
          type: array
          items:
            $ref: '#/components/schemas/ACLItem'
        resource:
          type: object
        api_scopes:
          type: array
          items:
            type: string
        original_encoded_resource:
          type: string
      required:
      - acl
      - resource
    ACLItem:
      properties:
        grantee:
          type: string
        permission:
          type: string
      required:
      - grantee
      - permission
  securitySchemes:
    managementAPIToken:
      type: oauth2
      description: "Your Management API token must be added to the request _Authorization_ header using the following format:\n\n `Authorization: Bearer YOUR_MANAGEMENT_API_KEY`"
      flows:
        password:
          tokenUrl: https://api.moesif.com/v1/:orgId/oauth/access_tokens
          scopes:
            create:encrypted_keys: Create encrypted Keys for the Moesif secure proxy
            delete:dashboards: Delete existing dashboards
            update:dashboards: Update existing dashboards
            create:dashboards: Create a new team dashboard that can be shared
            read:public_workspaces: Read public workspaces/shared links
            read:virtual_eventtypes: Read existing virtual events/tags
            update:companies: Update existing companies and associated company metadata
            create:companies: Create new companies and associated company metadata
            create:reports: Create a new report such as SmartDiff
            delete:workspaces: Delete existing workspaces
            create:workspaces: Create a new workspace/chart that can be shared
            read:workspaces: Read existing workspaces
            update:virtual_eventtypes: Update existing virtual events/tags
            create:cohorts: Save new customer cohorts
            delete:encrypted_keys: Delete encrypted Keys for the Moesif secure proxy
            read:dashboards: Read existing dashboards
            read:events: Read/query events and associated event metadata
            create:events: Create new events and associated event metadata
            read:cohorts: Read previously saved customer cohorts
            read:encrypted_keys: Read encrypted Keys for the Moesif secure proxy
            update:apps: Update an existing application
            update:encrypted_keys: Update encrypted Keys for the Moesif secure proxy
            update:organizations: Update an existing application
            create:access_tokens: Create new tokens to access the Management API or Collector API
            create:users: Create new users and associated user metadata
            create:apps: Create a new application/project under the organization
            update:workspaces: Update existing workspaces
            delete:cohorts: Delete previously saved customer cohorts
            read:users: Read/query users and associated user metadata
            delete:virtual_eventtypes: Delete existing virtual events/tags
            read:reports: Read reports such as SmartDiff
            delete:reports: Delete existing reports such as SmartDiff
            update:users: Update existing users and associated user metadata
            update:cohorts: Update previously saved customer cohorts
            read:companies: Read/query companies and associated company metadata
            create:virtual_eventtypes: Create virtual events/tags
            delete:apps: Delete an existing application
            delete:companies: Delete existing companies and associated company metadata
            read:apps: Read the organization's applications
            create:eth_abi: Create/upload new Ethereum ABI Entries
            delete:users: Delete existing users and associated user metadata
externalDocs:
  description: Developer Docs
  url: https://moesif.com/docs
