openapi: 3.0.0
info:
  description: Management API to query data in Moesif. You can use the management API to export data for custom reports or to build custom dashboards.
  contact:
  - email: support@moesif.com
  - email: support@moesif.com
  termsOfService: https://www.moesif.com/terms
  version: '1'
  title: Management Applications Companies API
servers:
- url: https://api.moesif.com/v1
  description: Management API V1
- url: https://api.moesif.com/v1
  description: Management API V1
consumes:
- application/json
- application/json
produces:
- application/json
- application/json
tags:
- name: Companies
paths:
  /search/~/companies:
    post:
      security:
      - managementAPIToken:
        - create:companies
        - update:companies
      tags:
      - Companies
      operationId: updateCompanies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyUpdateDTO'
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          default: '~'
          type: string
        in: query
        name: app_id
        required: false
      summary: Update a Company
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companyResponseDTO'
  /search/~/companies/batch:
    post:
      security:
      - managementAPIToken:
        - create:companies
        - update:companies
      tags:
      - Companies
      operationId: batchUpdateCompanies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CompanyUpdateDTO'
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          default: '~'
          type: string
        in: query
        name: app_id
        required: false
      summary: Update Companies in Batch
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companyResponseDTO'
  /search/~/companies/{id}:
    get:
      security:
      - managementAPIToken:
        - read:companies
      tags:
      - Companies
      operationId: getCompany
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          default: '~'
          type: string
        in: query
        name: app_id
        required: false
      - schema:
          type: string
        in: path
        name: id
        required: true
      summary: Get a Company
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/companyResponseDTO'
    delete:
      security:
      - managementAPIToken:
        - delete:companies
      tags:
      - Companies
      operationId: deleteCompany
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          default: '~'
          type: string
        in: query
        name: app_id
        required: false
      - schema:
          type: string
        in: path
        name: id
        required: true
      - name: delete_events
        in: query
        description: Delete events associated with the company which can be set to true or false(default)
        schema:
          default: false
          type: boolean
        required: false
      summary: Delete a Company
      responses:
        '200':
          description: success
  /search/~/count/companies:
    post:
      security:
      - managementAPIToken:
        - read:companies
      tags:
      - Companies
      documentation: http://www.elastic.co/guide/en/elasticsearch/reference/master/search-count.html
      operationId: countCompanies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object'
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          type: string
        in: query
        name: app_id
        required: true
      summary: Count Companies
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object'
  /search/~/search/companymetrics/companies:
    post:
      security:
      - managementAPIToken:
        - read:companies
      tags:
      - Companies
      documentation: https://www.moesif.com/docs/api#pagination-and-filtering
      operationId: searchCompanyMetrics
      requestBody:
        required: true
        content:
          application/json:
            description: The search definition using the Elasticsearch Query DSL
            schema:
              $ref: '#/components/schemas/object'
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          default: '~'
          type: string
        in: query
        name: app_id
        required: false
      - name: from
        in: query
        description: The start date, which can be absolute such as 2023-07-01T00:00:00Z or relative such as -24h
        schema:
          type: string
          format: date-time
        required: false
      - name: to
        in: query
        description: The end date, which can be absolute such as 2023-07-02T00:00:00Z or relative such as now
        schema:
          type: string
          format: date-time
        required: false
      summary: Search CompanyMetrics/Companies
      responses:
        '200':
          description: success
          content: application/json
components:
  schemas:
    CompanyUpdateDTO:
      properties:
        company_id:
          type: string
        modified_time:
          type: string
          format: date-time
        session_token:
          type: string
        company_domain:
          type: string
        metadata:
          type: object
      required:
      - company_id
  securitySchemes:
    managementAPIToken:
      type: oauth2
      description: "Your Management API token must be added to the request _Authorization_ header using the following format:\n\n `Authorization: Bearer YOUR_MANAGEMENT_API_KEY`"
      flows:
        password:
          tokenUrl: https://api.moesif.com/v1/:orgId/oauth/access_tokens
          scopes:
            create:encrypted_keys: Create encrypted Keys for the Moesif secure proxy
            delete:dashboards: Delete existing dashboards
            update:dashboards: Update existing dashboards
            create:dashboards: Create a new team dashboard that can be shared
            read:public_workspaces: Read public workspaces/shared links
            read:virtual_eventtypes: Read existing virtual events/tags
            update:companies: Update existing companies and associated company metadata
            create:companies: Create new companies and associated company metadata
            create:reports: Create a new report such as SmartDiff
            delete:workspaces: Delete existing workspaces
            create:workspaces: Create a new workspace/chart that can be shared
            read:workspaces: Read existing workspaces
            update:virtual_eventtypes: Update existing virtual events/tags
            create:cohorts: Save new customer cohorts
            delete:encrypted_keys: Delete encrypted Keys for the Moesif secure proxy
            read:dashboards: Read existing dashboards
            read:events: Read/query events and associated event metadata
            create:events: Create new events and associated event metadata
            read:cohorts: Read previously saved customer cohorts
            read:encrypted_keys: Read encrypted Keys for the Moesif secure proxy
            update:apps: Update an existing application
            update:encrypted_keys: Update encrypted Keys for the Moesif secure proxy
            update:organizations: Update an existing application
            create:access_tokens: Create new tokens to access the Management API or Collector API
            create:users: Create new users and associated user metadata
            create:apps: Create a new application/project under the organization
            update:workspaces: Update existing workspaces
            delete:cohorts: Delete previously saved customer cohorts
            read:users: Read/query users and associated user metadata
            delete:virtual_eventtypes: Delete existing virtual events/tags
            read:reports: Read reports such as SmartDiff
            delete:reports: Delete existing reports such as SmartDiff
            update:users: Update existing users and associated user metadata
            update:cohorts: Update previously saved customer cohorts
            read:companies: Read/query companies and associated company metadata
            create:virtual_eventtypes: Create virtual events/tags
            delete:apps: Delete an existing application
            delete:companies: Delete existing companies and associated company metadata
            read:apps: Read the organization's applications
            create:eth_abi: Create/upload new Ethereum ABI Entries
            delete:users: Delete existing users and associated user metadata
externalDocs:
  description: Developer Docs
  url: https://moesif.com/docs
