openapi: 3.0.0
info:
  description: Management API to query data in Moesif. You can use the management API to export data for custom reports or to build custom dashboards.
  contact:
  - email: support@moesif.com
  - email: support@moesif.com
  termsOfService: https://www.moesif.com/terms
  version: '1'
  title: Management Applications Email Templates API
servers:
- url: https://api.moesif.com/v1
  description: Management API V1
- url: https://api.moesif.com/v1
  description: Management API V1
consumes:
- application/json
- application/json
produces:
- application/json
- application/json
tags:
- name: Email Templates
paths:
  /~/emails/templates:
    post:
      security:
      - managementAPIToken:
        - create:email_templates
      tags:
      - Email Templates
      operationId: createEmailTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTemplateCreateItem'
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          default: '~'
          type: string
        in: query
        name: app_id
        required: false
      summary: Create New Email Template
      responses:
        '201':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.moesif.docdb.emailtemplates.EmailTemplateDocument'
    get:
      security:
      - managementAPIToken:
        - read:email_templates
      tags:
      - Email Templates
      operationId: getEmailTemplates
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          default: '~'
          type: string
        in: query
        name: app_id
        required: false
      - schema:
          type: string
        in: query
        name: cohort_id
        required: false
      summary: Get Email Templates
      responses:
        '200':
          description: success
  /~/emails/templates/{id}:
    post:
      security:
      - managementAPIToken:
        - update:email_templates
      tags:
      - Email Templates
      operationId: updateEmailTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTemplateUpdateItem'
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          default: '~'
          type: string
        in: query
        name: app_id
        required: false
      - schema:
          type: string
        in: path
        name: id
        required: true
      summary: Update an Email Template
      responses:
        '200':
          description: success
    get:
      security:
      - managementAPIToken:
        - read:email_templates
      tags:
      - Email Templates
      operationId: getEmailTemplate
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          default: '~'
          type: string
        in: query
        name: app_id
        required: false
      - schema:
          type: string
        in: path
        name: id
        required: true
      summary: Get Email Template
      responses:
        '200':
          description: success
    delete:
      security:
      - managementAPIToken:
        - delete:email_templates
      tags:
      - Email Templates
      operationId: deleteEmailTemplate
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          default: '~'
          type: string
        in: query
        name: app_id
        required: false
      - schema:
          type: string
        in: path
        name: id
        required: true
      summary: Delete Email Template
      responses:
        '200':
          description: success
components:
  schemas:
    CohortConfig:
      properties:
        url_query:
          type: string
        criteria:
          type: string
        cohort_name:
          type: string
        to:
          type: string
        from:
          type: string
        cohort_type:
          type: string
        time_zone:
          type: string
      required:
      - criteria
      - url_query
      - cohort_name
      - cohort_type
      - from
      - to
      - time_zone
    DynamicField:
      properties:
        token:
          type: string
        field:
          type: string
        aggregator:
          type: string
          enum:
          - avg
          - min
          - max
          - terms
          - sum
      required:
      - token
      - field
      - aggregator
    EmailTemplateCreateItem:
      properties:
        name:
          type: string
        state:
          type: integer
          format: int32
        cohorts:
          type: array
          items:
            $ref: '#/components/schemas/Cohort'
        dynamic_fields:
          type: array
          items:
            $ref: '#/components/schemas/DynamicField'
        content:
          $ref: '#/components/schemas/TemplateContent'
        template:
          $ref: '#/components/schemas/TemplateConfig'
        period:
          type: string
        addresses:
          $ref: '#/components/schemas/EmailAddresses'
      required:
      - name
      - state
      - addresses
      - cohorts
      - template
      - content
    Cohort:
      properties:
        id:
          type: string
        type:
          type: string
        config:
          $ref: '#/components/schemas/CohortConfig'
      required:
      - id
      - type
    EmailAddresses:
      properties:
        from:
          type: string
        cc:
          type: array
          items:
            type: string
        bcc:
          type: array
          items:
            type: string
      required:
      - from
      - cc
      - bcc
    EmailTemplateUpdateItem:
      properties:
        name:
          type: string
        state:
          type: integer
          format: int32
        cohorts:
          type: array
          items:
            $ref: '#/components/schemas/Cohort'
        dynamic_fields:
          type: array
          items:
            $ref: '#/components/schemas/DynamicField'
        content:
          $ref: '#/components/schemas/TemplateContent'
        template:
          $ref: '#/components/schemas/TemplateConfig'
        period:
          type: string
        addresses:
          $ref: '#/components/schemas/EmailAddresses'
    TemplateConfig:
      properties:
        subject:
          type: string
        editor:
          type: string
        design:
          type: object
        thumbnail_url:
          type: string
      required:
      - subject
      - editor
      - design
    TemplateContent:
      properties:
        html:
          type: string
        chunks:
          type: object
      required:
      - html
      - chunks
  securitySchemes:
    managementAPIToken:
      type: oauth2
      description: "Your Management API token must be added to the request _Authorization_ header using the following format:\n\n `Authorization: Bearer YOUR_MANAGEMENT_API_KEY`"
      flows:
        password:
          tokenUrl: https://api.moesif.com/v1/:orgId/oauth/access_tokens
          scopes:
            create:encrypted_keys: Create encrypted Keys for the Moesif secure proxy
            delete:dashboards: Delete existing dashboards
            update:dashboards: Update existing dashboards
            create:dashboards: Create a new team dashboard that can be shared
            read:public_workspaces: Read public workspaces/shared links
            read:virtual_eventtypes: Read existing virtual events/tags
            update:companies: Update existing companies and associated company metadata
            create:companies: Create new companies and associated company metadata
            create:reports: Create a new report such as SmartDiff
            delete:workspaces: Delete existing workspaces
            create:workspaces: Create a new workspace/chart that can be shared
            read:workspaces: Read existing workspaces
            update:virtual_eventtypes: Update existing virtual events/tags
            create:cohorts: Save new customer cohorts
            delete:encrypted_keys: Delete encrypted Keys for the Moesif secure proxy
            read:dashboards: Read existing dashboards
            read:events: Read/query events and associated event metadata
            create:events: Create new events and associated event metadata
            read:cohorts: Read previously saved customer cohorts
            read:encrypted_keys: Read encrypted Keys for the Moesif secure proxy
            update:apps: Update an existing application
            update:encrypted_keys: Update encrypted Keys for the Moesif secure proxy
            update:organizations: Update an existing application
            create:access_tokens: Create new tokens to access the Management API or Collector API
            create:users: Create new users and associated user metadata
            create:apps: Create a new application/project under the organization
            update:workspaces: Update existing workspaces
            delete:cohorts: Delete previously saved customer cohorts
            read:users: Read/query users and associated user metadata
            delete:virtual_eventtypes: Delete existing virtual events/tags
            read:reports: Read reports such as SmartDiff
            delete:reports: Delete existing reports such as SmartDiff
            update:users: Update existing users and associated user metadata
            update:cohorts: Update previously saved customer cohorts
            read:companies: Read/query companies and associated company metadata
            create:virtual_eventtypes: Create virtual events/tags
            delete:apps: Delete an existing application
            delete:companies: Delete existing companies and associated company metadata
            read:apps: Read the organization's applications
            create:eth_abi: Create/upload new Ethereum ABI Entries
            delete:users: Delete existing users and associated user metadata
externalDocs:
  description: Developer Docs
  url: https://moesif.com/docs
