openapi: 3.0.0
info:
  description: Management API to query data in Moesif. You can use the management API to export data for custom reports or to build custom dashboards.
  contact:
  - email: support@moesif.com
  - email: support@moesif.com
  termsOfService: https://www.moesif.com/terms
  version: '1'
  title: Management Applications API
servers:
- url: https://api.moesif.com/v1
  description: Management API V1
- url: https://api.moesif.com/v1
  description: Management API V1
consumes:
- application/json
- application/json
produces:
- application/json
- application/json
tags:
- name: Applications
paths:
  /~/apps:
    post:
      security:
      - managementAPIToken:
        - create:apps
      description: Create a new app under the selected organization
      tags:
      - Applications
      operationId: addApp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppCreateDTO'
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      summary: Create a new App
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResponseDTO'
    get:
      security:
      - managementAPIToken:
        - read:apps
      description: Gets a list of apps for the selected organization
      tags:
      - Applications
      operationId: getApps
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          format: int32
          type: integer
        in: query
        name: take
        required: true
      - schema:
          default: None
          type: string
        in: query
        name: before_id
        required: false
      summary: Gets Apps
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppResponseDTO'
  /~/apps/{id}:
    post:
      security:
      - managementAPIToken:
        - update:apps
      description: Update the name of the app for the selected organization
      tags:
      - Applications
      operationId: updateApp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppUpdateDTO'
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          type: string
        in: path
        name: id
        required: true
      summary: Update Apps
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppUpdateDTO'
    delete:
      security:
      - managementAPIToken:
        - delete:apps
      description: Delete the app for the selected organization
      tags:
      - Applications
      operationId: deleteApp
      parameters:
      - schema:
          type: string
        in: path
        name: orgId
        required: true
      - schema:
          type: string
        in: path
        name: id
        required: true
      summary: Delete Apps
      responses:
        '200':
          description: success
components:
  schemas:
    AppResponseDTO:
      properties:
        name:
          type: string
        custom_app_id:
          type: string
        search_api_base_url:
          type: string
        week_starts_on:
          type: integer
          format: int32
        id:
          type: string
        portal_api_base_url:
          type: string
        secure_proxy:
          type: boolean
        time_zone:
          type: string
      required:
      - name
    AppUpdateDTO:
      properties:
        name:
          type: string
        time_zone:
          type: string
        week_starts_on:
          type: integer
          format: int32
        custom_app_id:
          type: string
    AppCreateDTO:
      properties:
        name:
          type: string
        time_zone:
          type: string
        week_starts_on:
          type: integer
          format: int32
        custom_app_id:
          type: string
      required:
      - name
  securitySchemes:
    managementAPIToken:
      type: oauth2
      description: "Your Management API token must be added to the request _Authorization_ header using the following format:\n\n `Authorization: Bearer YOUR_MANAGEMENT_API_KEY`"
      flows:
        password:
          tokenUrl: https://api.moesif.com/v1/:orgId/oauth/access_tokens
          scopes:
            create:encrypted_keys: Create encrypted Keys for the Moesif secure proxy
            delete:dashboards: Delete existing dashboards
            update:dashboards: Update existing dashboards
            create:dashboards: Create a new team dashboard that can be shared
            read:public_workspaces: Read public workspaces/shared links
            read:virtual_eventtypes: Read existing virtual events/tags
            update:companies: Update existing companies and associated company metadata
            create:companies: Create new companies and associated company metadata
            create:reports: Create a new report such as SmartDiff
            delete:workspaces: Delete existing workspaces
            create:workspaces: Create a new workspace/chart that can be shared
            read:workspaces: Read existing workspaces
            update:virtual_eventtypes: Update existing virtual events/tags
            create:cohorts: Save new customer cohorts
            delete:encrypted_keys: Delete encrypted Keys for the Moesif secure proxy
            read:dashboards: Read existing dashboards
            read:events: Read/query events and associated event metadata
            create:events: Create new events and associated event metadata
            read:cohorts: Read previously saved customer cohorts
            read:encrypted_keys: Read encrypted Keys for the Moesif secure proxy
            update:apps: Update an existing application
            update:encrypted_keys: Update encrypted Keys for the Moesif secure proxy
            update:organizations: Update an existing application
            create:access_tokens: Create new tokens to access the Management API or Collector API
            create:users: Create new users and associated user metadata
            create:apps: Create a new application/project under the organization
            update:workspaces: Update existing workspaces
            delete:cohorts: Delete previously saved customer cohorts
            read:users: Read/query users and associated user metadata
            delete:virtual_eventtypes: Delete existing virtual events/tags
            read:reports: Read reports such as SmartDiff
            delete:reports: Delete existing reports such as SmartDiff
            update:users: Update existing users and associated user metadata
            update:cohorts: Update previously saved customer cohorts
            read:companies: Read/query companies and associated company metadata
            create:virtual_eventtypes: Create virtual events/tags
            delete:apps: Delete an existing application
            delete:companies: Delete existing companies and associated company metadata
            read:apps: Read the organization's applications
            create:eth_abi: Create/upload new Ethereum ABI Entries
            delete:users: Delete existing users and associated user metadata
externalDocs:
  description: Developer Docs
  url: https://moesif.com/docs
